@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&display=swap');


/* GENERAL

*****************************************/
/*
::-webkit-scrollbar {
    width: 0;
}
 
::-webkit-scrollbar-track {
    opacity: 0;
    display: none;
    -webkit-box-shadow: none; 
}
 
::-webkit-scrollbar-thumb {
    opacity: 0;
    display: none;
    -webkit-box-shadow: none; 
}
*/

/* PAGES

*****************************************/

.page {
    &--home {
        overflow: auto;
        min-height: 100vh;
    }
    &--wide {
        display: flex;
        .page__wrap {
            max-width: initial;
            flex: 1 1 50%;
            max-height: calc(100vh - 40px);
            overflow-y: scroll;
        }
        .page__map {
            flex: 1 1 50%;
        }
    }
    &__wrap {
        max-width: 740px;
        margin: 0 auto;
        overflow: visible;
        padding-top: 40px;
        &--big {
          max-width: 1200px;
          padding-top: 0;
          overflow-x: scroll;
        }
    }
    &__map {
        background: #f6f6f6;
    }
    &__logo {
        width: 100%;
        max-width: 200px;
    }
    &__title {
        font-size: 28px;
    }
    &__subtitle {
        color: #666;
        font-size: smaller;
        margin-bottom: 4px;
    }
    &__section {
        padding: 20px;
        &--head {
            margin: 80px auto 0;
            max-width: 460px;
            text-align: center;
        }
        &--contents {
            h4 {
                margin-bottom: 4px;
            }
            li.sub {
              margin-left: 24px;
            }
        }
        &--text {
          ul {
            padding-left: 20px;
            margin-bottom: 24px;
            li {
              list-style: disc;
              margin-bottom: 12px;
            }
          }
          figure {
            font-size: smaller;
            img {
              display: block;
              margin: 0 auto;
              max-width: 100%;
              height: auto;
            }
            figcaption {
              text-align: right;
            }
            margin-bottom: 24px;
          }
          table {
            border: transparent;
            margin-bottom: 24px;
            caption {
              text-align: center;
              font-weight: 700;
              margin-bottom: 6px;
            }
            tr {
              border: transparent;
              + tr td {
                border-top: none;
              }
            }
            td {
              border: 1px solid rgba(128, 128, 128, 0.3);
              padding: 2px 4px;
              + td {
                border-left: none;
              }
              &.num {
                text-align: right;
              }
              &.cen {
                text-align: center;
              }
            }
            thead {
              td {
                font-weight: 700;
                border-bottom: none;
              }
            }
            tfoot {
              tr, td {
                border: transparent;
              }
            }
          }
          .legend {
            font-size: smaller;
            color: #565656;
            margin-bottom: 24px;
          }
        }
    }
}


@media screen and (min-width: 740px) {
  .page {
    &__wrap {
      &--big {
        overflow-x: auto;
      }
    }
  }
}


@media screen and (min-width: 1020px) {
  .page {
    &__section {
      &--text {
        .legend {
          position: relative;
          margin-bottom: 0;
          &__wrap {
            position: absolute;
            left: calc(100% + 20px);
            width: 100px;
            top: -100px;
            &--left {
              right: calc(100% + 20px);
              left: unset;
            }
          }
        }
      }
    }
  }
}


@media screen and (min-width: 1200px) {
  .page {
    &__section {
      &--text {
        .legend {
          &__wrap {
            width: 200px;
          }
        }
      }
    }
  }
}


/* BUTTONS

*****************************************/
a.button,
button {
  display: inline-block;
  color: #2d3247;
  background-color: white;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
  text-align: center;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.05);
  transition: all .2s ease;
  white-space: nowrap;
  margin: 6px 2px 2px 2px;

  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.15);
  }
  
  &:active {
    text-decoration: none;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.05);
  }

  &.cta {
    background-color: #087be3;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
    &:hover {
      background-color: #076bc5;
    }
  }
}

/* ANIMATIONS

*****************************************/
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.25s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}